.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  margin: 0 auto;
  width: 400px;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login form label {
  text-align: left;
  font-weight: bold;
  font-size: 0.75em;
  padding-bottom: 5px;
}

.login form button {
  margin: 15px 0;
  height: 40px;
  background: blue;
  color: lightgrey;
  font-size: 1.2em;

}

.login form input {
  height: 40px;
  font-size: 1em;
  margin-bottom: 15px;
}

.small-card {
  background: lightblue;
  border: 2px solid black;
  width: 70%;
  margin: 5px auto;
}

.history-table {
  margin: 0 auto;
}